consumer_frontend/node_modules
consumer_backend/mysite/authentication/__pycache__
consumer_backend/mysite/courses/__pycache__
consumer_backend/mysite/mysite/__pycache__
*.png
*.jpg
*.jpeg
*.gif

# Allow logo.png
!consumer_frontend/public/logo.png